extends layout
block content
  center
    h2 Status Invoice Details
  br
  table.table.table-bordered
    thead.thead(style='background-color: #101082; color: white;')
      tr
        th(scope='col') #
        th(scope='col') Voucher No
        th(scope='col') No of Transactions
        th(scope='col') Total Amount
        th(scope='col') Outstanding Balance
        th(scope='col') Confirm By
        th(scope='col') Confirm Date
        th(scope='col') Effective Date
        th(scope='col') Payment Method
        th(scope='col') Loan Term
        th(scope='col') Maturity Date
        th(scope='col') Authorized by
        th(scope='col') Invoice Document
        th(scope='col') Status
        th(scope='col') More Invoice Details
    - for(var x=0;x<invoice.length;x++)
      tr
        td #{x+1}
        td #{invoice[x].VoucherNo}
        td #{invoice[x].NoofTransactions}
        td #{invoice[x].TotalAmount}
        td #{invoice[x].OutstandingBalance}
        td #{invoice[x].ConfirmBy}
        td #{invoice[x].ConfirmDate}
        td #{invoice[x].EffectiveDate}
        td #{invoice[x].PaymentMethod}
        td #{invoice[x].LoanTerm}
        td #{invoice[x].MaturityDate}
        td #{invoice[x].Authorizer}
        td
          a(href='/uploads/invoices/'+invoice[x].InvoiceDocument) #{invoice[x].InvoiceDocument}
        if(invoice[x].Stage==0)
          td Not yet approved by Payee.
        if(invoice[x].Stage==1)
          td Not yet approved by Bank.
        if(invoice[x].Stage==2)
          td Waiting funds early payment to the Payee.
        if(invoice[x].Stage==3)
          td Waiting for the Payer to payment the Bank.
        if(invoice[x].Stage==4)
          td Complete invoice.
        if(invoice[x].Stage==-1)
          td Invoice is rejected by the Payee.
        if(invoice[x].Stage==-2)
          td Invoice is rejected by the Bank.
        td
          center
            a.btn.btn-secondary(href='/invoices/approve/'+invoice[x]._id, role='button') More
  font(size='2', color='red') * Confirm By = Payer, Authorized by = Payee