extends layout
block content
    center
        h2 Transfer Funds Early Payment Token
    br
    table.table.table-bordered
        thead.thead(style='background-color: #101082; color: white;')
            tr
                th(scope='col') #
                th(scope='col') Voucher No
                th(scope='col') No of Transactions
                th(scope='col') Total Amount
                th(scope='col') Confirm By
                th(scope='col') Confirm Date
                th(scope='col') Effective Date
                th(scope='col') Payment Method
                th(scope='col') Loan Term
                th(scope='col') Maturity Date
                th(scope='col') Authorized by
                th(scope='col') Invoice Document
        - for(var x=0;x<invoice.length;x++)
            if(invoice[x].Stage==2)
                tr
                    td #{x+1}
                    td #{invoice[x].VoucherNo}
                    td #{invoice[x].NoofTransactions}
                    td #{invoice[x].TotalAmount}
                    td #{invoice[x].ConfirmBy}
                    td #{invoice[x].ConfirmDate}
                    td #{invoice[x].EffectiveDate}
                    td #{invoice[x].PaymentMethod}
                    td #{invoice[x].LoanTerm}
                    td #{invoice[x].MaturityDate}
                    td #{invoice[x].Authorizer}
                    td
                        a(href='#') #{invoice[x].InvoiceDocument}
    font(size='2', color='red') * Confirm By = Payer, Authorized by = Payee
    br
    br
    p Current Balance ETH:	#{balance.eth} Ether 
    p Current Balance Token: #{balance.token} BBL
    form(method='POST', action='/wallets/transfer')
        #form-group
            label(for='Select1') Voucher No:
            select#Select1.form-control(name='VoucherNo')
                - for(var x=0;x<invoice.length;x++)
                        if(invoice[x].Stage==2)
                            option #{invoice[x].VoucherNo}
        br
        center
            input.btn.btn-primary(type='submit',value='Submit')
            a.btn.btn-secondary(href='../', role='button') Back